     .moisescameoh1 {
        grid-area: 2/1/3/5;
        position: relative;
        float: right;
        padding-top: 0.85%;
        padding-right: 5.8%;
        font-family: 'Expletus Sans', cursive;
        font-size: 5rem;
        font-weight: 600;
        line-height: 4rem;
        color: #fff;
        z-index: 20;
    }

    .moisescameoh2 {
        grid-area: 2/1/3/5;
        position: relative;
        float: right;
        padding-left: 8%;
        padding-right: 6%;
        /* margin-right: 110px; */
        font-family: 'Expletus Sans', cursive;
        font-size: 2.5rem;
        font-weight: 400;
        color: #fff;
        z-index: 19;
        line-height: 1em;
    }

    .collage {
        grid-area: 1/2/2/5;
        position: relative;
        z-index: 18;
        width: 80vw;
        float: right;
        margin-left: 40%;
        margin-top: -28%;
        padding-right: 5.9%;
    }




    /* .description{
        color: #fff;
        display: flex;
        float: right;
        text-align: justify;
    } */