html, body {
    margin: 0;
  }
  
*, *:before, *:after {
      box-sizing: border-box;
  }
  
 .container{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(150px,auto);
    background-color: #635D5D;
    }

    .headerdiv{
        position: inherit;
        /* float: left; */
        left: 10%;
        top: 20%;
        width: 20%;
        padding-left: 1%;
        z-index: 100;
    }

    .menuparent {
        font-weight: 700;
    }

    .menuchild li{
        font-weight: 400;
        font-style: italic;
    }

    .headermenu {
        background-color: #0E0A0A; 
        font-family: 'Playfair Display', serif;
        height: 30vw;
        padding-top: 10%;
    }

    .flex-ul {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 3.2rem;
    }
    .submenu-portfolio {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    
    a {
        color: #fff;
        text-decoration: none;
    }
    
    a:hover 
    {
         color:#D8A345; 
         text-decoration:none; 
         cursor:pointer;  
    }
    
    /*Dropdown menu*/
      
    .dropdown {
        position: inherit;
        display: inline-flex;
        z-index: 50;
    }
    .dropdown-child {
        line-height: 10%;
        display: none;
        flex-direction: column;
        align-content: inherit;
        background-color: #0E0A0A;
        min-width: 200px;
        font-size: 1rem;
    }
    .dropdown-child a {
        color: white;
        padding: 6%;
        text-decoration: none;
        display: flex;
        float: left;
        
    }
    .dropdown:hover .dropdown-child {
        display: flex;
        flex-direction: column;
        position: fixed;
        float: left;
    }
    
    .dropdown-child a:hover {
        color:#D8A345; 
         text-decoration:none; 
         cursor:pointer;  
    }
    
    body{
        background-color: #0E0A0A;
    }