body {
    padding: 2px 0 0 2px;
  }
  .gallery{
        grid-area: 1/2/9/9;
        position: absolute;
        z-index: 15;
        top: 10%;
        right: 2%;
  }

  .gallery img {
    padding: 5px 5px 5px 5px;
    max-width: 550px;
    float: right;

    /* Yes, you *can* adjust/remove padding. */
  }
  
  img {
    height: auto;
    width: 100%;
    
  /* even more control with max-width */
    /* max-width: 200px; */
  }

  .moisescameoh1 {
    grid-area: 2/1/3/9;
    float: right;
    padding-left: 20%;
    font-family: 'Expletus Sans', cursive;
    font-size: 5rem;
    font-weight: 600;
    line-height: 4rem;
    color: #fff;
    z-index: 20;
    position: absolute;
}


.moisescameoh2 {
    grid-area: 2/1/3/9;
    float: right;
    padding-left: 30%;
    font-family: 'Expletus Sans', cursive;
    font-size: 2.5rem;
    font-weight: 400;
    color: #fff;
    z-index: 20;
    position: absolute;
}
