@media (min-width: 768px )and (max-width: 2600px) {
  #myVideo1 {
      position: absolute;
      top: 20%;
      left: 20%;
      min-width: 65%; 
      max-width: 70%;
      height: auto;
    }
    
    #myVideo2 {
      position: absolute;
      top: 70%;
      left: 20%;
      min-width: 65%; 
      max-width: 70%;
      height: auto;
    }

    #myVideo3 {
      position: absolute;
      top: 160%;
      left: 20%;
      min-width: 65%; 
      max-width: 70%;
      height: auto;
      padding-bottom: 5%;
    }
}
@media all and (max-width: 450px) {
  #myVideo1 {
      position: absolute;
      top: 20%;
      left: 15%;
      min-width: 65%; 
      max-width: 70%;
      height: auto;
    }
    
    #myVideo2 {
      position: absolute;
      top: 40%;
      left: 15%;
      min-width: 65%; 
      max-width: 70%;
      height: auto;
    }

    #myVideo3 {
      position: absolute;
      top: 70%;
      left: 15%;
      min-width: 65%; 
      max-width: 70%;
      height: auto;
      padding-bottom: 5%;
    }
}
